/target
.DS_Store
**/*.rs.bk

/build/
CMakeFiles/
/CMakeCache.txt
cmake_install.cmake

# Object files and static libraries
*.o
*.a
*.so
*.dll
*.dylib

# Temporary and backup files
*.tmp
*.swp
*.swo
*.bak
*.log

/compile_commands.json
